/**********************************************************************************************************************/
/**** velgFilnavn                                                                                                 ****/
/********************************************************************************************************************/
#velgFilnavn-vbox {
    -fx-padding: 30px;
    -fx-spacing: 20px;
}

/**********************************************************************************************************************/
/**** velgStartPunkt                                                                                              ****/
/********************************************************************************************************************/
#velgStartPunkt-vBox{
    -fx-padding: 30px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

#velgStartPunkt-overskrift{
    -fx-font-size: 20;
}

#velgStartPunkt-labyrinten{ /*  Labyrinten som vises  */
    -fx-background-color: BLACK;
}
