/**********************************************************************************************************************/
/**** velgFilnavn                                                                                                 ****/
/********************************************************************************************************************/
#velgFilnavn-vbox {
    -fx-padding: 40px;
    -fx-spacing: 20px;
}

/**********************************************************************************************************************/
/**** velgStartPunkt                                                                                              ****/
/********************************************************************************************************************/
#velgStartPunkt-labyrinten{ /*  Labyrinten som vises  */
    -fx-padding: 20px;
    -fx-padding-color: RED;
}

#velgStartPunkt-labyrinten-hvitRute{ /*  Hvit rute i labyrinten  */

}

#velgStartPunkt-labyrinten-sortRute{ /*  Sort rute i labyrinten  */
}
